@charset "utf-8";
/* 版心区域有公共样式 */
body {
  color: #333;
  background: #fff;
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 1090px;
}
#docHead {
  color: #333;
  margin: 0;
  padding: 0;
  display: block;
  background: #fff;
  z-index: 103;
  position: relative;
  height: 100px;
  border-bottom: 1px solid #e8e8ea;
}
#docHead #docHeadWrap {
  color: #333;
  padding: 0;
  position: relative;
  height: 100px;
  zoom: 1;
  margin: 0 auto;
  width: 1000px;
}
#docHead #docHeadWrap .logo_kaola_new {
  color: #51b8f1;
  position: absolute;
  left: 0;
  top: 20px;
  width: 330px;
  height: 65px;
  line-height: 65px;
  outline: none;
  cursor: pointer;
  z-index: 9;
  background: url(../img/loginlogo.jpg) no-repeat;
  background-position: 0;
  background-size: auto 65px;
  text-decoration: none;
}
#body {
  color: #333;
  margin: 0;
  padding: 0;
  display: block;
}
#body .userimg {
  color: #333;
  padding: 0;
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
#body .userimg .user_img {
  color: #333;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -101px;
  right: 40px;
  z-index: 200;
  height: 100px;
  width: 504px;
  background: url(../img/loginlogo2.jpg);
  background-image: -webkit-image-set(url(../img/loginlogo2.jpg));
}
#body .login-banner {
  color: #333;
  margin: 0;
  padding: 0;
  display: block;
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-image: url();
}
#body .login-banner .login-body {
  color: #333;
  padding: 0;
  position: relative;
  margin: 0 auto;
  width: 1000px;
  height: 600px;
}
#body .login-banner .login-body .default-img {
  color: #333;
  border: 0;
  vertical-align: middle;
  display: inline-block;
  position: absolute;
  background-image: url();
  left: 10px;
  top: 50%;
  margin-top: -101px;
  width: 400px;
  height: 203px;
}
#body .login-banner .login-body .hot-area {
  outline: none;
  text-decoration: none;
  color: #51b8f1;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -180px;
  width: 400px;
  height: 360px;
}
#body .login-banner .login-body #loginAnchor {
  color: #333;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 2;
  top: 110px;
  right: 40px;
}
#body .login-banner .login-body #loginAnchor .kl-account {
  color: #333;
  margin: 0;
  padding: 0;
  display: inline-block;
}
#body .login-banner .login-body #loginAnchor .kl-account #user-login {
  color: #333;
  margin: 0;
  padding: 0;
}
#body .login-banner .login-body #loginAnchor .kl-account #user-login .login-wrap {
  color: #333;
  margin: 0;
  padding: 0;
  display: block;
  width: 350px;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #eaeaea;
}
#body .login-banner .login-body #loginAnchor .kl-account #user-login .login-wrap .top {
  margin: 0;
  padding: 0;
  position: relative;
  height: 52px;
  font-size: 16px;
  line-height: 52px;
  color: #333;
  border-bottom: 1px solid #ddd;
  background-color: #f8f8f8;
}
#body .login-banner .login-body #loginAnchor .kl-account #user-login .login-wrap .top .active {
  font-size: 16px;
  line-height: 52px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-align: center;
  color: #e31436;
}
#body .login-banner .login-body #loginAnchor .kl-account #user-login .login-wrap .kl-account_loading {
  font-size: 12px;
  margin: 0;
  padding: 0;
  background-size: 23px;
  min-height: 220px;
}
#body .login-banner .login-body #loginAnchor .kl-account #user-login .login-wrap .kl-account_loading .container {
  font: 400 12px arial;
  color: #666;
  box-sizing: border-box;
  margin: 0;
  padding: 0 40px;
  min-height: 200px;
}
#body .login-banner .login-body #loginAnchor .kl-account #user-login .login-wrap .kl-account_loading .container .form-group {
  font: 400 12px arial;
  color: #666;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  padding: 0;
  margin-bottom: 16px;
}
#body .login-banner .login-body #loginAnchor .kl-account #user-login .login-wrap .kl-account_loading .container .form-group .form-control {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-size: 14px;
  width: 100%;
  height: 36px;
  line-height: 36px;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  padding-left: 35px;
}
#body .login-banner .login-body #loginAnchor .kl-account #user-login .login-wrap .kl-account_loading .container .form-group .btn {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-radius: 3px;
  outline: none;
  color: #fff;
  width: 100%;
  cursor: pointer;
  background-color: #e31436;
  background-image: none;
  border: 0;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
}
#body .login-banner .login-body #loginAnchor .kl-account #user-login .login-wrap .kl-account_proto {
  padding: 0;
  font-size: 13px;
  color: #999;
  margin: 0 40px 10px;
  text-align: center;
}
#body .login-banner .login-body #loginAnchor .kl-account #user-login .login-wrap .kl-account_proto .kl-account_proto-link {
  font-size: 13px;
  text-align: center;
  outline: none;
  color: #999;
  text-decoration: underline;
}
#body .login-banner .login-body #loginAnchor .kl-account #user-login .login-wrap #j-anchor_thirdpart {
  color: #333;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
#body .login-banner .login-body #loginAnchor .kl-account #user-login .login-wrap #j-anchor_thirdpart .a-bottom {
  color: #333;
  margin: 0;
  display: block;
  padding: 10px 40px;
  height: 42px;
  font-size: 14px;
  border-top: 1px solid #efefef;
  box-sizing: border-box;
}
#body .login-banner .login-body #loginAnchor .kl-account #user-login .login-wrap #j-anchor_thirdpart .a-bottom .third-login {
  color: #333;
  font-size: 14px;
  padding: 0;
  list-style: none;
  width: 160px;
  margin: 0 auto;
}
#body .login-banner .login-body #loginAnchor .kl-account #user-login .login-wrap #j-anchor_thirdpart .a-bottom .third-login .thirdicon {
  color: #333;
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  margin-right: 10px;
  width: 22px;
  height: 22px;
}
#body .login-banner .login-body #loginAnchor .kl-account #user-login .login-wrap #j-anchor_thirdpart .a-bottom .third-login .thirdicon .a-icon {
  font-size: 14px;
  list-style: none;
  outline: none;
  text-decoration: none;
  color: #51b8f1;
  display: inline-block;
  width: 30px;
  height: 23px;
  background: url(../img/login111.jpg) no-repeat;
  background-size: cover;
  background-position: 0 0;
}
.footBgWrap {
  color: #333;
  margin: 0;
  padding: 0;
  background: #fff;
  border-top: 1px solid #eaeaea;
  margin-top: 0;
}
.footBgWrap #aboutNEST {
  margin: 0;
  position: relative;
  padding: 20px 0;
  line-height: 26px;
  text-align: center;
  color: #666;
  background: #fff;
}
.footBgWrap #aboutNEST a {
  line-height: 26px;
  text-align: center;
  outline: none;
  text-decoration: none;
  color: inherit;
}
.footBgWrap #aboutNEST span {
  line-height: 26px;
  text-align: center;
  color: #666;
}
