@charset "utf-8";
/* 版心区域有公共样式 */
#topNavWrap,
#searchWrap,
#bodyWrap,
#footWrap {
  width: 1090px;
  margin: 0 auto;
}
body {
  min-width: 1090px;
  min-height: 100%;
  background-color: #f0f0f0;
}
#topNav {
  position: relative;
  z-index: 106;
  background: #000;
  border-bottom: 1px solid #ededee;
  color: #999;
  font-size: 12px;
}
#topNav #topNavWrap {
  position: relative;
  zoom: 1;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  width: 1090px;
}
#topNav .sep {
  color: #ccc;
  visibility: hidden;
}
#topNav #topNavLeft {
  float: left;
}
#topNav #topNavLeft .sep {
  padding: 0 10px;
}
#topNav #topNavLeft2 {
  float: left;
  padding-left: 30px;
}
#topNav #topNavLeft2 .app {
  position: relative;
  zoom: 1;
}
#topNav #topNavLeft2 .app .m-notice {
  position: absolute;
  left: -30px;
  top: 35px;
  *top: 42px;
  padding: 5px 5px 0;
  display: none;
}
#topNav #topNavLeft2 .app .m-notice .txt {
  display: block;
  padding: 4px 0;
  font-size: 14px;
  color: #ff1e32;
  line-height: 18px;
  font-weight: 400;
}
#topNav #topNavLeft2 .app .m-notice img {
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  width: 116px;
  height: 116px;
  border: 0;
  vertical-align: middle;
  display: inline-block;
}
#topNav #topNavRight {
  font-size: 12px;
  float: right;
  position: relative;
  right: -3px;
}
#topNav #topNavRight li {
  float: left;
}
#topNav #topNavRight .toplevel {
  padding: 0 14px 0 8px;
}
#topNav .login {
  margin-left: 16px;
}
#topNav a {
  color: #999;
}
#search {
  background: #fff;
  z-index: 103;
}
#search #searchWrap {
  padding: 0;
  position: relative;
  height: 100px;
  zoom: 1;
  width: 1090px;
  margin: 0 auto;
}
#search .logo {
  color: #51b8f1;
  position: absolute;
  left: 0;
  top: 20px;
  width: 330px;
  height: 65px;
  line-height: 65px;
  outline: none;
  cursor: pointer;
  z-index: 9;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: auto 65px;
  text-decoration: none;
  background-image: url(../images/logo.jpg);
}
#searchWrap {
  zoom: 1;
  width: 1090px;
  margin: 0 auto;
}
#shopcar {
  color: #333;
  margin: 0 auto;
  width: 1090px;
  padding: 0;
  border: 1px solid #eaeaea;
}
#shopcar .m-mycart {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  line-height: 32px;
  margin-top: 15px;
}
#shopcar .m-mycart .tt {
  font-size: 14px;
  color: #333;
  line-height: 32px;
  position: relative;
  top: -1px;
  font-weight: 700;
}
#shopcar .head {
  margin: 0;
  padding: 0;
  zoom: 1;
  color: #999;
  border: 1px solid #eaeaea;
  height: 34px;
  line-height: 34px;
}
#shopcar .head .col {
  float: left;
  padding: 0 10px;
  font-size: 12px;
}
#shopcar .head .col1 {
  width: 175px;
}
#shopcar .head .col1 #selectAll {
  box-sizing: content-box;
  padding: 0;
  vertical-align: middle;
  font-size: 100%;
  width: 17px;
  height: 18px;
  display: inline-block;
  zoom: 1;
  margin: -6px 10px 0 12px;
}
#shopcar .head .col1 .lab {
  line-height: 34px;
  color: #000;
}
#shopcar .head .col2 {
  width: 521px;
}
#shopcar .head .col3 {
  width: 86px;
}
#shopcar .head .col4 {
  width: 94px;
}
#shopcar .head .col5 {
  width: 108px;
}
#shopcar .head .col6 {
  width: 93px;
  padding: 0 7px;
  text-align: left;
}
#shopcar .productlist {
  list-style-type: none;
  font-weight: 400;
  line-height: 18px;
  outline: none;
  text-decoration: none;
  color: #333;
  font-size: 12px;
  display: block;
}
#shopcar .productlist .item {
  border: 1px solid black;
  margin: 20px;
  overflow: hidden;
}
#shopcar .productlist .item .c-box input {
  width: 17px;
  height: 18px;
}
#shopcar .productlist .item div {
  float: left;
  margin-left: 25px;
  margin-top: 60px;
}
#shopcar .productlist .item .p-pic {
  float: left;
  margin: 30px 10px;
}
#shopcar .productlist .item .p-num {
  margin-left: -10px;
  margin-top: 45px;
}
#shopcar .productlist .item .p-pic > img {
  width: 100px;
}
#shopcar .productlist .item .p-title {
  width: 500px;
  font-size: 16px;
}
#shopcar .totalbox {
  color: #333;
  font-size: 12px;
  margin: 0;
  padding: 0;
  min-height: 62px;
  position: relative;
  margin-top: 35px;
  width: 1090px;
  height: 62px;
}
#shopcar .totalbox #totalbar {
  color: #333;
  font-size: 12px;
  margin: 0;
  padding: 0;
  zoom: 1;
  bottom: 0;
  min-width: 820px;
  z-index: 101;
  border: 1px solid #eaeaea;
  position: relative;
  width: 1090px;
  height: 62px;
}
#shopcar .totalbox #totalbar .ttbar {
  color: #333;
  font-size: 12px;
  margin: 0;
  width: 1090px;
  height: 62px;
  line-height: 62px;
  position: relative;
  background-color: #f8f8f8;
}
#shopcar .totalbox #totalbar .ttbar .lt {
  color: #333;
  font-size: 12px;
  line-height: 62px;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  float: left;
}
#shopcar .totalbox #totalbar .ttbar .lt .u-chk {
  width: 17px;
  height: 18px;
  box-sizing: content-box;
  padding: 0;
  vertical-align: middle;
  outline: none;
  display: inline-block;
  zoom: 1;
  margin: -6px 10px 0 12px;
}
#shopcar .totalbox #totalbar .ttbar .lt .opt {
  cursor: pointer;
  margin-left: 20px;
}
#shopcar .totalbox #totalbar .ttbar .rt {
  color: #333;
  margin: 0;
  padding: 0;
  float: right;
  padding-right: 140px;
  line-height: 20px;
  text-align: right;
}
#shopcar .totalbox #totalbar .ttbar .rt .allgoods {
  color: #333;
  line-height: 62px;
  text-align: right;
  margin: 0;
  padding: 0;
}
#shopcar .totalbox #totalbar .ttbar .rt .allgoods .num {
  color: #e31436;
  font-weight: 700;
  font-size: 18px;
}
#shopcar .totalbox #totalbar .ttbar .rt .gobuy {
  outline: none;
  text-decoration: none;
  position: absolute;
  right: -1px;
  top: -1px;
  bottom: 0;
  width: 120px;
  line-height: 60px;
  text-align: center;
  background-color: #e31436;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
#foot {
  width: 100%;
  float: left;
}
#foot #footBgWrap1 {
  color: #333;
  margin: 0;
  padding: 0;
  margin-top: 80px;
  background: #fff;
  border-top: 1px solid #eaeaea;
}
#foot #footBgWrap1 .box {
  padding: 0;
  background-color: transparent;
  text-align: left;
  font-size: inherit;
  color: inherit;
  cursor: default;
  display: block;
  width: 1100px;
  margin: 0 auto;
}
#foot #footBgWrap1 .box #btmlist {
  text-align: left;
  font-size: inherit;
  color: inherit;
  cursor: default;
  margin: 0;
  padding: 49px 0;
  border-bottom: 1px solid #eaeaea;
  zoom: 1;
}
#foot #footBgWrap1 .box #btmlist ul {
  text-align: left;
  font-size: inherit;
  color: inherit;
  cursor: default;
  margin: 0;
  padding: 0;
  list-style: none;
  zoom: 1;
}
#foot #footBgWrap1 .box #btmlist ul li {
  font-size: inherit;
  color: inherit;
  cursor: default;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 233px;
  margin-left: 42px;
}
#foot #footBgWrap1 .box #btmlist ul li .btmIcon {
  color: inherit;
  cursor: default;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid #d6d6d6;
  text-align: center;
  line-height: 44px;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  float: left;
  margin-right: 12px;
}
#foot #footBgWrap1 .box #btmlist ul li .tit {
  color: inherit;
  cursor: default;
  list-style: none;
  display: block;
  line-height: 22px;
  font-size: 18px;
  font-weight: 700;
}
#foot #footBgWrap1 .box #btmlist ul li .desc {
  color: inherit;
  cursor: default;
  list-style: none;
  display: block;
  line-height: 22px;
  font-size: 14px;
}
#foot #footBgWrap2 {
  color: #333;
  margin: 0;
  padding: 0;
  background: #fff;
  margin-top: 0;
  border-top: none;
  height: 263px;
}
#foot #footBgWrap2 .box {
  padding: 0;
  background-color: transparent;
  text-align: left;
  font-size: inherit;
  color: inherit;
  cursor: default;
  display: block;
  width: 1100px;
  margin: 0 auto;
}
#foot #footBgWrap2 .box #guideList {
  text-align: left;
  font-size: inherit;
  color: inherit;
  cursor: default;
  margin: 0;
  padding: 45px 0 90px;
}
#foot #footBgWrap2 .box #guideList ul {
  margin: 0;
  padding: 0;
  list-style: none;
  zoom: 1;
}
#foot #footBgWrap2 .box #guideList ul .first {
  font-size: inherit;
  color: inherit;
  cursor: default;
  list-style: none;
  margin: 0;
  float: left;
  padding: 0 0 0 21px;
  height: 128px;
  width: 218px;
  padding-right: 40px;
  padding-left: 0;
}
#foot #footBgWrap2 .box #guideList ul .first .logo_kaola_new {
  font-size: inherit;
  list-style: none;
  color: #333;
  display: block;
  width: 220px;
  height: 43px;
  line-height: 45px;
  margin-bottom: 20px;
  outline: none;
  cursor: pointer;
  z-index: 9;
  background: url(../images/footlogo.jpg) no-repeat;
  background-size: 210px auto;
  text-decoration: none;
}
#foot #footBgWrap2 .box #guideList ul .first .focuson {
  font-size: inherit;
  color: inherit;
  cursor: default;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 32px;
}
#foot #footBgWrap2 .box #guideList ul .first .focuson .itm {
  font-size: inherit;
  list-style: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  color: #333;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}
#foot #footBgWrap2 .box #guideList ul .first .focuson .itm .w-icon {
  font-size: 12px;
  font-size: inherit;
  list-style: none;
  color: #333;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  background: url(../images/footwb2.jpg) no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-position: 50%;
  background-repeat: no-repeat;
}
#foot #footBgWrap2 .box #guideList ul .first .focuson .itm .weixin-icon {
  background: url(../images/footwx.jpg) no-repeat;
}
#foot #footBgWrap2 .box #guideList ul .first .focuson .itm .m-notice {
  font-size: inherit;
  list-style: none;
  cursor: pointer;
  background: #fff;
  text-align: center;
  color: #333;
  border: 1px solid #ededee;
  padding: 10px;
  position: absolute;
  left: -44px;
  top: 42px;
  display: none;
  z-index: 10;
}
#foot #footBgWrap2 .box #guideList ul .first .focuson .itm .m-notice img {
  font-size: inherit;
  list-style: none;
  cursor: pointer;
  text-align: center;
  color: #333;
  width: 100px;
  height: 100px;
  border: 0;
  vertical-align: middle;
  display: inline-block;
}
#foot #footBgWrap2 .box #guideList ul .f-wd100 {
  font-size: inherit;
  color: inherit;
  cursor: default;
  list-style: none;
  margin: 0;
  float: left;
  padding: 0 0 0 21px;
  height: 128px;
  width: 101px;
}
#foot #footBgWrap2 .box #guideList ul .f-wd100 dl {
  font-size: inherit;
  color: inherit;
  cursor: default;
  list-style: none;
  width: 80px;
  margin: 0;
  padding: 0;
}
#foot #footBgWrap2 .box #guideList ul .f-wd100 dl dt {
  font-size: inherit;
  color: inherit;
  cursor: default;
  list-style: none;
  padding: 0;
  margin: -4px 0 10px;
}
#foot #footBgWrap2 .box #guideList ul .f-wd100 dl dt em {
  color: inherit;
  cursor: default;
  list-style: none;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
}
#foot #footBgWrap2 .box #guideList ul .f-wd100 dl dd {
  font-size: inherit;
  color: inherit;
  cursor: default;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 29px;
}
#foot #footBgWrap2 .box #guideList ul .f-wd100 dl dd a {
  font-size: 12px;
  list-style: none;
  line-height: 29px;
  outline: none;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
#foot #footBgWrap2 .box #guideList ul .item {
  font-size: inherit;
  color: inherit;
  cursor: default;
  list-style: none;
  margin: 0;
  height: 128px;
  width: 108px;
  padding: 0;
  text-align: center;
  float: left;
  margin-left: 10px;
}
#foot #footBgWrap2 .box #guideList ul .item img {
  font-size: inherit;
  color: inherit;
  cursor: default;
  list-style: none;
  text-align: center;
  width: 108px;
  height: 108px;
  border: 0;
  vertical-align: middle;
  display: inline-block;
  margin: 0 0 6px;
}
#foot #footBgWrap2 .box #guideList ul .item span {
  font-size: 12px;
  color: inherit;
  cursor: default;
  list-style: none;
  text-align: center;
}
#foot #footBgWrap3 {
  color: #333;
  margin: 0;
  padding: 0;
  background: #fff;
  margin-top: 0;
  border-top: none;
}
#foot #footBgWrap3 #aboutNEST {
  margin: 0;
  position: relative;
  padding: 20px 0;
  background: #333;
  line-height: 26px;
  text-align: center;
  color: #c2c2c2;
}
#foot #footBgWrap3 #aboutNEST a {
  line-height: 26px;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  text-decoration: none;
  color: #c2c2c2;
}
#foot #footBgWrap3 #aboutNEST .sep {
  line-height: 26px;
  text-align: center;
  color: #c2c2c2;
}
#foot #footBgWrap3 #aboutNEST .m-license {
  line-height: 26px;
  text-align: center;
  color: #c2c2c2;
  margin-left: 20px;
}
